*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #eeeeee;
}

h1{
    text-align: center;
    font-size: 3rem;
}

header{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    width: 90%;
    /*border: 1px solid red;*/
    margin: auto auto;
}

input{
    height: 120px;
    font-size: 2rem;
    width: 80%;
    padding-left: 10%;
}

button.add{
    width: 20%;
    cursor: pointer;
    background: green;
    color: #fff;
    font-weight: bold;

    border: none;
    height: 120px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

main{
    display: flex;
    flex-flow: row wrap;
    width: 90%;
    margin: auto auto;
    /*border: 1px solid blue;*/
    padding-top: 40px;
}

.item{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    background: #fff;
    height: 80px;
    width: 100%;
    box-shadow: 0 0 20px #ccc;
    margin-bottom: 2%;
    cursor:pointer;
}

.item.clicado{
    background: #d4f6d9;
}

.item.clicado .item-nome{
    text-decoration: line-through;
    color: gray;
}
.item-icone{
    flex: 20%;
    /*border: 1px solid orangered;*/
    text-align: center;
    font-size: 2rem;
}

.item-nome{
    flex: 55%;
    /*border: 1px solid deeppink;*/
}

.item-botao{
    flex: 25%;
    /*border: 1px solid green;*/
}

.delete{
    background: red;
    color: white;
    border: none;
    padding: 40px;
    height: 80px;
    width: 100%;
    font-size: 15px;
    line-height: 1;        /* vsi corrigir o tortinho*/
    display: flex;
    align-items: center;
    
}

.check{
    color: green;
}

@media (max-width: 480px) {

    header {
        width: 100%;
    }

    .item {
        flex-direction: column;
        align-items: flex-start;
        padding: 10px;
    }

    .item-icone,
    .item-nome,
    .item-botao {
        width: 100%;
        flex: none;
        text-align: left;
        margin-bottom: 8px;
    }

    .item-icone {
        text-align: left;
    }

    .delete {
        width: 100%;
        justify-content: center;
    }
}

